:root {
  --cream: hsl(30, 38%, 92%);
  --dark-cyan: hsl(158, 36%, 37%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --darker-cyan: hsl(158, 36%, 30%);
  --darkest-cyan: hsl(158, 36%, 25%);
  --ff-card-body: "Montserrat", sans-serif;
  --ff-card-title: "Fraunces", serif;
  --ff-price-sale: "Fraunces", serif;
  --fs-card-body: 0.875rem;
  --fs-card-title: 2rem;
  --fs-price-sale: 1.875rem;
  --fw-bold: 700;
  --fw-medium: 500;
  --very-dark-blue: hsl(212, 21%, 14%);
  --white: hsl(0, 0%, 100%);
}
body {
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
}
.main {
  align-items: center;
  display: flex;
  flex-grow: 1;
}
.card {
  background-color: var(--white);
  border-radius: 0.75rem;
  margin: 0 auto;
  max-width: 21.25rem;
  width: 100%;
}
.card__image {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}
.card__body {
  color: var(--dark-grayish-blue);
  font-family: var(--ff-card-body);
  font-size: var(--fs-card-body);
  font-weight: var(--fw-medium);
  padding: 1.5rem;
}
.card__category {
  letter-spacing: 0.25rem;
  margin-bottom: 0.75rem;
  text-transform: uppercase;
}
.card__title {
  color: var(--very-dark-blue);
  font-family: var(--ff-card-title);
  font-size: var(--fs-card-title);
  font-weight: var(--fw-bold);
  line-height: 1;
  margin: 0.75rem 0;
}
.card__description,
.card__prices {
  margin: 1rem 0;
}
.card__prices {
  align-items: center;
  display: flex;
  line-height: 1.2;
}
.card__price-current {
  color: var(--dark-cyan);
  font-family: var(--ff-price-sale);
  font-size: var(--fs-price-sale);
}
.card__price-previous {
  margin-left: 1.5rem;
  text-decoration: line-through;
}
.card__button-icon {
  display: inline-block;
  position: relative;
  right: 0.5rem;
  vertical-align: text-bottom;
}
.card__button {
  background-color: var(--dark-cyan);
  border: none;
  border-radius: 0.75rem;
  color: var(--white);
  cursor: pointer;
  font-weight: var(--fw-bold);
  padding: 0.75rem;
  width: 100%;
}
.card__button:hover {
  background-color: var(--darker-cyan);
}
.card__button:focus {
  background-color: var(--darkest-cyan);
}
.footer {
  font-size: 11px;
  padding: 0.5rem;
  text-align: center;
}
.footer__link {
  color: hsl(228, 45%, 44%);
}
@media screen and (min-width: 1440px) {
  .card {
    display: flex;
    max-width: 34.25rem;
  }
  .card__image-select {
    flex-basis: 50%;
  }
  .card__image {
    border-bottom-left-radius: 0.75rem;
    border-radius: 0;
    border-top-left-radius: 0.75rem;
  }
  .card__body {
    flex-basis: 52%;
    padding: 1.75rem;
  }
}
